debug-label start
    alloc 0
    inpv [The address of the pointer to the global]
    pop @V
    debug-label start D:\NewJack\test.nj
        debug-label start test.Test
            label Test.new
                alloc 2
                pop @L 0
                push 1
                call Test2.new 1
                pop @L 3
                call Test2.ff 0
                pop $T
                push @L 0
                pop $D
                push $D 1
                call Test2.test1 0
                pop $D
                pop $T
                stor @T $D
                push @L 0
                return
            label Test.test0
                push 0
                return
        debug-label end test.Test
        debug-label start test.Test2
            label Test2.new
                alloc 1
                pop @L 0
                push @L 0
                pop $D
                push $D 0
                push @L 1
                pop $D
                pop $T
                stor @T $D
                push @L 0
                return
            label Test2.test1
                push 0
                pop @L 0
                push $L 0
                push 1
                push 2
                call built_in.mul 2
                push 3
                call built_in.add 2
                push 5
                call built_in.sub 2
                push 8
                push 2
                call built_in.div 2
                call built_in.add 2
                pop $D
                pop $T
                stor @T $D
                push @L 0
                return
            label Test2.ff
                push @L 0
                pop $D
                push $D 0
                push @L 0
                pop $D
                push @D 0
                push 2
                call built_in.mul 2
                pop $D
                pop $T
                stor @T $D
                push @L 0
                return
        debug-label end test.Test2
    debug-label end D:\NewJack\test.nj
debug-label end