label start
label test.Test
alloc heap 0
label test.new
alloc heap 1
pop term 1
call constructor.new 0
pop local 0
<GetVarInfo>
call method.ff 0
pop term 0
<compileGetVariable>
push constant 2
pop term 0
pop address 0
push term 0
pop memory 0
push term 1
pop address 0
push memory 0
return
alloc heap 3
label test.test0
push constant 0
return
label test.Test2
alloc heap 0
label test.new
alloc heap 0
pop term 1
push argument 0
return
alloc heap 2
label test.test1
push constant 0
pop local 2
<compileGetVariable>
push constant 1
push constant 2
call built_in.mul 2
push constant 3
call built_in.add 2
push constant 5
call built_in.sub 2
push constant 8
push constant 2
call built_in.div 2
call built_in.add 2
pop term 0
pop address 0
push term 0
pop memory 0
label test.ff