alloc 3
inpv 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $V $A
copy $D $M
//setl enter
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
call c0.new 1
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
inpv 0
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 5
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
call c0.m0 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
//setl while_start_0
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
//getl loop_end_0
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $D $M
sett 0
//setl for_start_1
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call c0.f0 1
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
call c1.f1 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 0
inpv 1
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
call built_in.add 2
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 1
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
inpv 2
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
call built_in.add 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call c1.m1 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
inpv 1
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
call built_in.add 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
call built_in.eq 2
//getl if_false_0
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
//getl loop_end_0
copy $V $T
inpv 1
copy $V $C
jump $T $C
//getl if_end_0
copy $V $T
inpv 1
copy $V $C
jump $T $C
//setl if_false_0
//setl if_end_0
inpv 2
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 10
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
call built_in.lt 2
//getl for_start_1
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
jump $T $C
//setl loop_end_1
//getl while_start_0
copy $V $T
inpv 1
copy $V $C
jump $T $C
//setl loop_end_0
//setl c0.new
alloc 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
inpv 0
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 5
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 0
addr $D $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 13
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 2
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
call built_in.add 2
call built_in.mul 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
addr $D $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call c1.new 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
return
//setl c0.m0
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 1
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call c1.m1 2
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
return
//setl c0.f0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $D $M
sett 0
//setl for_start_2
inpv 1
addr $L $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
inpv 0
inpv 1
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
inpv 2
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.lt 2
//getl for_start_2
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
jump $T $C
//setl loop_end_2
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
addr $L $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
call built_in.add 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.eq 2
//getl if_false_1
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
inpv 0
sett 7
inpv 2
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
return
//getl if_end_1
copy $V $T
inpv 1
copy $V $C
jump $T $C
//setl if_false_1
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
return
//setl if_end_1
//setl c1.new
alloc 1
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $D $M
sett 0
//setl while_start_3
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.lt 2
//getl loop_end_3
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
inpv 0
sett 7
inpv 1
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call list.append 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 2
addr $L $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
call built_in.add 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
//getl while_start_3
copy $V $T
inpv 1
copy $V $C
jump $T $C
//setl loop_end_3
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 0
addr $D $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
return
//setl c1.f1
inpv 0
sett 7
inpv 1
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call list.append 2
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 0
inpv 2
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
call built_in.add 2
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
return
//setl c1.m1
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
call built_in.gt 2
//getl if_false_2
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
return
//getl if_end_2
copy $V $T
inpv 1
copy $V $C
jump $T $C
//setl if_false_2
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
call built_in.eq 2
//getl elif_0_2
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
return
//getl if_end_2
copy $V $T
inpv 1
copy $V $C
jump $T $C
//setl elif_0_2
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
return
//setl if_end_2