copy $P $T
inpv 0
subr $T $V $T
inpv 6828
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
sett 1
copy $T $L
sett 0
inpv 6828
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $P $T
inpv 0
subr $T $V $T
inpv 192
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
sett 1
copy $T $L
sett 0
inpv 192
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 7
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $V $A
copy $D $M
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
copy $P $T
inpv 1
subr $T $V $T
inpv 1706
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 1706
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 5
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
copy $P $T
inpv 2
subr $T $V $T
inpv 2190
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 2190
copy $V $D
inpv 1
jump $D $V
inpv 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
copy $P $T
inpv 1
subr $T $V $T
inpv 4636
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 4636
copy $V $D
inpv 1
jump $D $V
inpv 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $V $V $T
copy $T $A
copy $D $M
sett 0
inpv 10
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $V $V $T
copy $T $A
copy $D $M
sett 0
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1706
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $T
inpv 1
subr $T $V $T
inpv 2494
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 2494
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $P $T
inpv 0
subr $T $V $T
inpv 3850
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
sett 1
copy $T $L
sett 0
inpv 3850
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 0
inpv 1
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 1
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
inpv 2
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $T
inpv 2
subr $T $V $T
inpv 4178
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 4178
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
inpv 1
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D == $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 1540
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
inpv 1706
copy $V $T
inpv 1
copy $V $C
jump $T $C
inpv 1540
copy $V $T
inpv 1
copy $V $C
jump $T $C
inpv 2
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 10
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D <  $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 684
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
jump $T $C
inpv 624
copy $V $T
inpv 1
copy $V $C
jump $T $C
inpv 2
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
inpv 0
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 5
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 13
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 2
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
mulr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $T
inpv 2
subr $T $V $T
inpv 3298
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 3298
copy $V $D
inpv 1
jump $D $V
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $D $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 1
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $T
inpv 2
subr $T $V $T
inpv 4178
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 4178
copy $V $D
inpv 1
jump $D $V
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 1
addr $L $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
inpv 1
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
inpv 2
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D <  $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 2554
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
jump $T $C
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
addr $L $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D == $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 3232
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
inpv 0
sett 7
inpv 2
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
inpv 3298
copy $V $T
inpv 1
copy $V $C
jump $T $C
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D <  $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 3784
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
inpv 0
sett 7
inpv 1
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $T
inpv 2
subr $T $V $T
inpv 4912
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 4912
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 2
addr $L $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 3430
copy $V $T
inpv 1
copy $V $C
jump $T $C
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 1
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $T
inpv 2
subr $T $V $T
inpv 4912
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 4912
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 0
inpv 2
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 0
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D >  $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 4394
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
inpv 4636
copy $V $T
inpv 1
copy $V $C
jump $T $C
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 0
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D == $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 4580
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
inpv 4636
copy $V $T
inpv 1
copy $V $C
jump $T $C
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
inpv 3
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 10
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $D $V $T
copy $T $A
copy $D $M
sett 0
inpv 10
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $D $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 3
addr $D $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 3
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 2
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D == $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 5192
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $T
inpv 1
subr $T $V $T
inpv 5570
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
inpv 0
addr $T $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 1
copy $T $L
sett 0
inpv 5570
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 5192
copy $V $T
inpv 1
copy $V $C
jump $T $C
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
addr $D $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 3
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 3
addr $D $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 3
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 2
addr $D $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 2
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
mulr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 2
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 1
addr $L $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 1
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $D $M
sett 0
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 3
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D <  $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 5826
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
jump $T $C
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
addr $D $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 1
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
addr $D $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
sett 7
inpv 3
addr $D $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
inpv 2147483648
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 3
addr $V $V $T
copy $T $A
copy $D $M
sett 0
inpv 4294967296
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 4
addr $V $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
sett 7
inpv 3
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 5
addr $V $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 0
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 6
addr $V $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L  # error
inpv 1  # error
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 4
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
comp $D >  $T
copy $P $A
copy $C $M
inpv 1
addr $P $V $P
inpv 7218
copy $V $T
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $C $D
inpv 0
comp $C == $V
jump $T $C
copy $P $T
inpv 0
subr $T $V $T
inpv 8206
copy $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 4
subr $L $V $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
subr $P $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
copy $P $A
copy $L $M
inpv 1
addr $P $V $P
sett 1
copy $P $T
sett 0
sett 1
copy $T $L
sett 0
inpv 8206
copy $V $D
inpv 1
jump $D $V
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 7218
copy $V $T
inpv 1
copy $V $C
jump $T $C
inpv 0
inpv 6
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 5
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
copy $D $A
copy $M $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
sett 7
inpv 5
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $D $M
sett 0
inpv 0
inpv 6
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 5
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
inpv 5
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 5
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
inpv 6
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 5
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
inpv 6
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 5
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 1
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
sett 7
inpv 0
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
subr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 2
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
subr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
inpv 0
inpv 6
addr $V $V $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 0
sett 7
inpv 5
addr $V $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
addr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 0
subr $V $D $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
copy $T $A
copy $D $M
sett 7
inpv 2
addr $L $V $T
copy $T $A
copy $M $D
sett 0
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $D $D
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
subr $D $T $D
copy $P $A
copy $D $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P
inpv 0
copy $P $A
copy $V $M
inpv 1
addr $P $V $P
inpv 1
subr $P $V $P
copy $P $A
copy $M $D
copy $T $D
inpv 3
subr $L $V $L
copy $L $A
copy $M $D
inpv 1
addr $L $V $L
copy $L $A
copy $M $P
inpv 1
addr $L $V $L
copy $L $A
copy $M $L
inpv 1
jump $D $V
copy $P $A
copy $T $M
inpv 1
addr $P $V $P