call system.init 0
pop $T
call main.main 0
pop $T
debug-label start
    push 7
    call built_in.alloc 1
    inpv 0
    pop @V
    debug-label start test.main
        label main.main
            push 0
            call c0.new 1
            pop @L 0
            push @L 0
            push 5
            call c0.m0 2
            inpv 0
            pop @V 0
            push 0
            call list.new 1
            inpv 0
            pop @V 1
            push 10
            call built_in.alloc 1
            inpv 0
            pop @V 2
            label while_start_0
            push 1
            goto loop_end_0 false
            push 1
            pop @L 1
            label for_start_1
            push @L 1
            call c0.f0 1
            pop $T
            call c1.f1 0
            pop $T
            inpv 0
            push $V 1
            inpv 0
            push @V 0
            push @L 1
            call built_in.add 2
            call built_in.add 2
            push @L 0
            pop $D
            push @D 1
            inpv 0
            push $V 2
            inpv 0
            push @V 0
            push @L 1
            call built_in.add 2
            call built_in.add 2
            pop $D
            push @D
            call c1.m1 2
            pop $D
            pop $T
            stor @T $D
            inpv 0
            push $V 1
            inpv 0
            push @V 0
            push @L 1
            call built_in.add 2
            call built_in.add 2
            pop $D
            push @D
            push 0
            call built_in.eq 2
            goto if_false_0 false
            goto loop_end_0 all
            goto if_end_0 all
            label if_false_0
            label if_end_0
            push 2
            push @L 1
            call built_in.add 2
            pop @L 1
            push @L 1
            push 10
            call built_in.lt 2
            goto for_start_1 true
            label loop_end_1
            goto while_start_0 all
            label loop_end_0
    debug-label end test.main
    debug-label start test.c0
        label c0.new
            push 2
            call built_in.alloc 1
            pop @L 0
            inpv 0
            push $V 0
            push 5
            pop $D
            pop $T
            stor @T $D
            inpv 0
            push @V 0
            push 13
            push 2
            call built_in.add 2
            call built_in.mul 2
            push @L 0
            pop $D
            pop @D 0
            push 0
            inpv 0
            push @V 0
            call c1.new 2
            push @L 0
            pop $D
            pop @D 1
            push @L 0
            return
        label c0.m0
            push @L 0
            pop $D
            push @D 1
            inpv 0
            push @V 0
            call c1.m1 2
            push @L 0
            pop $D
            push @D 0
            call built_in.add 2
            return
        label c0.f0
            push 0
            pop @L 1
            push 0
            pop @L 2
            label for_start_2
            push $L 1
            push @L 2
            call built_in.add 2
            inpv 0
            push $V 1
            push @L 2
            call built_in.add 2
            pop $D
            push @D
            inpv 0
            push $V 2
            push @L 2
            call built_in.add 2
            pop $D
            push @D
            call built_in.add 2
            pop $D
            pop $T
            stor @T $D
            push 1
            push @L 2
            call built_in.add 2
            pop @L 2
            push @L 2
            push @L 0
            call built_in.lt 2
            goto for_start_2 true
            label loop_end_2
            inpv 0
            push @V 0
            push $L 1
            push 0
            call built_in.add 2
            pop $D
            push @D
            call built_in.eq 2
            goto if_false_1 false
            inpv 0
            push @V 2
            return
            goto if_end_1 all
            label if_false_1
            push @L 1
            return
            label if_end_1
    debug-label end test.c0
    debug-label start test.c1
        label c1.new
            push 1
            call built_in.alloc 1
            pop @L 0
            inpv 0
            push @V 0
            push @L 0
            pop $D
            pop @D 0
            push 0
            pop @L 2
            label while_start_3
            push @L 2
            push @L 1
            call built_in.lt 2
            goto loop_end_3 false
            inpv 0
            push @V 1
            push @L 2
            call list.append 2
            pop $T
            push $L 2
            push @L 2
            push 1
            call built_in.add 2
            pop $D
            pop $T
            stor @T $D
            goto while_start_3 all
            label loop_end_3
            push @L 0
            return
        label c1.f1
            inpv 0
            push @V 1
            inpv 0
            push @V 0
            call list.append 2
            pop $T
            inpv 0
            push $V 2
            inpv 0
            push @V 0
            call built_in.add 2
            inpv 0
            push @V 0
            pop $D
            pop $T
            stor @T $D
            push 0
            return
        label c1.m1
            push @L 0
            pop $D
            push @D 0
            push 0
            call built_in.gt 2
            goto if_false_2 false
            push @L 0
            pop $D
            push @D 0
            return
            goto if_end_2 all
            label if_false_2
            push @L 0
            pop $D
            push @D 0
            push 0
            call built_in.eq 2
            goto elif_0_2 false
            push @L 1
            return
            goto if_end_2 all
            label elif_0_2
            push 0
            return
            label if_end_2
    debug-label end test.c1
    debug-label start list.list
        label list.new
            push 3
            call built_in.alloc 1
            pop @L 0
            push 10
            call built_in.alloc 1
            push @L 0
            pop $D
            pop @D 1
            push 10
            push @L 0
            pop $D
            pop @D 2
            push 0
            push @L 0
            pop $D
            pop @D 3
            push @L 0
            return
        label list.append
            push @L 0
            pop $D
            push @D 3
            push @L 0
            pop $D
            push @D 2
            call built_in.eq 2
            goto if_false_3 false
            push @L 0
            call list.get_memory 1
            pop $T
            goto if_end_3 all
            label if_false_3
            label if_end_3
            push @L 0
            pop $D
            push $D 1
            push @L 0
            pop $D
            push @D 3
            call built_in.add 2
            push @L 1
            pop $D
            pop $T
            stor @T $D
            push @L 0
            pop $D
            push $D 3
            push @L 0
            pop $D
            push @D 3
            push 1
            call built_in.add 2
            pop $D
            pop $T
            stor @T $D
            push 0
            return
        label list.get_memory
            push @L 0
            pop $D
            push $D 2
            push @L 0
            pop $D
            push @D 2
            push 2
            call built_in.mul 2
            pop $D
            pop $T
            stor @T $D
            push @L 0
            pop $D
            push @D 2
            call built_in.alloc 1
            pop @L 1
            push 0
            pop @L 2
            label for_start_4
            push $L 1
            push @L 2
            call built_in.add 2
            push @L 0
            pop $D
            push @D 1
            push @L 2
            call built_in.add 2
            pop $D
            push @D
            pop $D
            pop $T
            stor @T $D
            push 1
            push @L 2
            call built_in.add 2
            pop @L 2
            push @L 2
            push @L 0
            pop $D
            push @D 3
            call built_in.lt 2
            goto for_start_4 true
            label loop_end_4
            push @L 0
            pop $D
            push $D 1
            push @L 1
            pop $D
            pop $T
            stor @T $D
            push 0
            return
        label list.get
            push @L 0
            pop $D
            push @D 1
            push @L 1
            call built_in.add 2
            pop $D
            push @D
            return
        label list.set
            push @L 0
            pop $D
            push $D 1
            push @L 1
            call built_in.add 2
            push @L 2
            pop $D
            pop $T
            stor @T $D
            push 0
            return
        label list.size
            push @L 0
            pop $D
            push @D 3
            return
    debug-label end list.list
    debug-label start system.system
        label system.init
            push 2147483648
            inpv 0
            pop @V 3
            push 4294967296
            inpv 0
            pop @V 4
            inpv 0
            push @V 3
            inpv 0
            pop @V 5
            push 0
            inpv 0
            pop @V 6
            push 0
            return
        label system.alloc
            push @L 0
            inpv 0
            push @V 4
            call built_in.gt 2
            goto if_false_4 false
            call system.gc 0
            pop $T
            goto if_end_4 all
            label if_false_4
            label if_end_4
            inpv 0
            push $V 6
            inpv 0
            push @V 5
            call built_in.add 2
            pop $D
            push @D
            pop @L 1
            inpv 0
            push @V 5
            push 1
            call built_in.add 2
            pop @L 2
            inpv 0
            push $V 6
            inpv 0
            push @V 5
            call built_in.add 2
            push @L 0
            pop $D
            pop $T
            stor @T $D
            inpv 0
            push $V 5
            inpv 0
            push @V 5
            push @L 0
            call built_in.add 2
            push 2
            call built_in.add 2
            pop $D
            pop $T
            stor @T $D
            inpv 0
            push $V 6
            push @L 2
            call built_in.add 2
            inpv 0
            push @V 5
            pop $D
            pop $T
            stor @T $D
            inpv 0
            push $V 6
            inpv 0
            push @V 5
            call built_in.add 2
            push @L 1
            push @L 0
            call built_in.sub 2
            push 2
            call built_in.sub 2
            pop $D
            pop $T
            stor @T $D
            inpv 0
            push $V 6
            inpv 0
            push @V 5
            call built_in.add 2
            push 1
            call built_in.neg 1
            pop $D
            pop $T
            stor @T $D
            push @L 2
            push 1
            call built_in.sub 2
            return
        label system.gc
            push 0
            return
    debug-label end system.system
debug-label end